/* Formulário para configurar a questão */
#questaoForm {
    margin-top: 20px;
}

#questaoForm label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#questaoForm input, #questaoForm select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    display: block;
}

/* Previsualização das alternativas */
#previsualizacaoDiv {
    margin-top: 20px;
    max-height: 60vh;
    overflow-y: auto; /* Permite rolagem se o conteúdo exceder o espaço disponível */
}

#previsualizacaoQuestoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; /* Adiciona espaçamento interno */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 4px; /* Adiciona cantos arredondados */
    max-height: 100%;
    overflow-y: auto; /* Garante que a rolagem seja habilitada conforme o conteúdo cresce */
}

/* Estilo das alternativas */
.alternativa {
    border: 2px solid #333;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, border-color 0.3s;
    width: 90%;
    display: flex;
    align-items: center;
}

.alternativa input[type="radio"] {
    margin-right: 10px;
}

.alternativa:hover {
    border-color: #4CAF50;
}

/* Estilo específico para Verdadeiro ou Falso */
.alternativa.vf {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.alternativa.vf label {
    flex: 1;
    text-align: left;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.alternativa.vf .true {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    margin-right: 10px;
    flex: 1;
}

.alternativa.vf .false {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    flex: 1;
}

.alternativa.vf input[type="radio"] {
    margin-right: 10px;
    display: inline-block;
}

.alternativa.vf .true:hover, .alternativa.vf .false:hover {
    border-color: #4CAF50;
}

/* Lista de questões adicionadas */
#questoesLista {
    margin-top: 20px;
    text-align: left;
}

#questoesUl {
    list-style-type: none;
    padding: 0;
}

#questoesUl li {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
}

/* Estilos adicionais para garantir que as seleções estejam separadas */
#tipoQuestao, #numAlternativas {
    display: block;
    margin-bottom: 15px;
}

/* Estilo para os itens da lista */
#questoesUl li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para o texto da questão (alinhado à esquerda) */
.questao-text {
    flex-grow: 1; /* Ocupa o espaço disponível à esquerda */
    text-align: left;
}

/* Estilo para os botões (alinhados à direita) */
.remove-btn,
.move-up-btn,
.move-down-btn {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px; /* Espaço entre os ícones */
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    color: #4CAF50;
}

/* Alteração de cor ao passar o mouse */
.remove-btn:hover {
    color: #ff0000; /* Cor vermelha para o botão de deletar */
}

.move-up-btn:hover,
.move-down-btn:hover {
    color: #388E3C; /* Cor verde escuro para os botões de mover */
}


/* Estilo da legenda */
.legenda {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}
/* Estilo do botão "Copiar QR Code" */
.copy-btn {
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    color: #333;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: inline-flex; /* Para alinhar o ícone e o texto no botão */
    align-items: center;
    margin-top: 10px;
}

.copy-btn .material-icons {
    font-size: 18px;
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.copy-btn:hover { 
    background-color: #e0e0e0;
    border-color: #bdbdbd;
}

.copy-btn:active {
    background-color: #d5d5d5;
    border-color: #a0a0a0;
}

/* Estilo do botão de remover (ícone delete) up and down da lista de questões*/
.remove-btn {
    cursor: pointer;
    font-size: 20px; /* Tamanho do ícone */
    color: #ff0000;
    margin-left: 10px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.remove-btn:hover {
    color: #cc0000;
}

.move-up-btn,
.move-down-btn {
    cursor: pointer;
    font-size: 20px; /* Tamanho do ícone */
    color: #4CAF50;
    margin-left: 10px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.move-up-btn:hover,
.move-down-btn:hover {
    color: #388E3C;
}
