/* Estilos gerais */
:root {
    --cor-primaria: #4CAF50;
    --cor-primaria-escura: #45a049;
    --cor-secundaria: #f7f7f7;
    --cor-texto: #333;
    --cor-texto-claro: #fff;
    --cor-erro: red;
    --cor-borda: #ccc;
    --cor-hover: #388E3C;
    --cor-remover: #ff0000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--cor-secundaria);
    overflow-y: scroll;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
#logo-container {
    position: sticky;
    top: 0;
    background-color: var(--cor-texto-claro);
    z-index: 1000;
    padding: 10px 0;
    border-bottom: 2px solid var(--cor-borda);
}

#logo-container h1 {
    font-size: 2.5em;
    margin: 0;
    color: var(--cor-primaria);
}

#logo-container p {
    margin: 0;
    font-size: 1.2em;
    color: #777;
}

/* Menu */
#menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-primaria);
    padding: 10px;
    border-radius: 4px;
}

.menu-btn,
.action-btn {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
    border: none;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.menu-btn:hover,
.action-btn:hover {
    background-color: var(--cor-primaria-escura);
}

.action-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* Formulário de configuração */
#questaoForm {
    margin-top: 20px;
}

#questaoForm label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#questaoForm input,
#questaoForm select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    display: block;
}

/* Mensagem de erro */
.mensagem-erro {
    color: var(--cor-erro);
    font-weight: bold;
    margin-top: 10px;
    display: none;
}

/* Pré-visualização das alternativas */
#previsualizacaoDiv {
    margin-top: 20px;
    max-height: 60vh;
    overflow-y: auto;
}

#previsualizacaoQuestoes {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
    max-height: 100%;
    overflow-y: auto;
}

/* Estilo das alternativas */
.alternativa {
    border: 2px solid var(--cor-texto);
    border-radius: 4px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, border-color 0.3s;
    width: 90%;
    display: flex;
    align-items: center;
}

.alternativa input[type="radio"] {
    margin-right: 10px;
}

.alternativa:hover,
.alternativa.vf label:hover {
    border-color: var(--cor-primaria);
}

/* Estilo específico para Verdadeiro ou Falso */
.alternativa.vf {
    padding: 10px;
}

.alternativa.vf label {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--cor-texto);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: border-color 0.3s;
}

.alternativa.vf input[type="radio"] {
    margin-right: 10px;
}

/* Lista de questões adicionadas */
#questoesLista {
    margin-top: 20px;
    text-align: left;
}

#questoesUl {
    list-style: none;
    padding: 0;
}

#questoesUl li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
}

/* Texto da questão */
.questao-text {
    flex-grow: 1;
    text-align: left;
}

/* Botões de ação */
.remove-btn,
.move-up-btn,
.move-down-btn,
.edit-btn {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    color: var(--cor-primaria);
}

.remove-btn:hover {
    color: var(--cor-remover);
}

.move-up-btn:hover,
.move-down-btn:hover,
.edit-btn:hover {
    color: var(--cor-hover);
}

/* Legenda */
.legenda {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.legenda .material-icons {
    font-size: 18px;
    vertical-align: middle;
    color: var(--cor-primaria);
}

/* Botão de cópia */
.copy-btn {
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    color: var(--cor-texto);
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.copy-btn .material-icons {
    font-size: 18px;
    margin-right: 8px;
}

.copy-btn:hover {
    background-color: #e0e0e0;
    border-color: #bdbdbd;
}

.copy-btn:active {
    background-color: #d5d5d5;
    border-color: #a0a0a0;
}

/* Spinner de carregamento */
.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--cor-primaria);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: girar 2s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Folha de gabarito */
.folha {
    margin-top: 20px;
    text-align: center;
}

.folha canvas {
    border: 1px solid var(--cor-borda);
    margin-bottom: 10px;
}

/* QR Code */
#qrcode {
    margin-top: 20px;
    text-align: center;
}

/* Efeitos de transição */
.hidden {
    display: none !important;
}

#lerGabaritoDiv,
#criarGabaritoDiv {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    video,
    canvas {
        width: 100%;
        height: auto;
    }
}

/* Status */
#status {
    margin-top: 10px;
    font-weight: bold;
    color: var(--cor-erro);
}
